* {
  margin: 0;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 89;
}

.menu-list-item a {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  font-weight: 700;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 30px;
  color: #4dbf00;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
}

.btn {
  margin-left: 30px;
  color: #4dbf00;
  border-color: #4dbf00;
  padding: 10px;
  background-color: transparent;
  border-radius: 15px;
  cursor: pointer;
  height: 40px;
  width: 80px;
}

.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-avatar {
  display: none;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.left-menu-icon {
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}

/* .content-container { */
/* margin-left: 50px; */
/* } */

.featured-content {
  height: 50vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.1);
  /* margin: 0 30px; */
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-title {
  color: #49aa09;
}

.movie-list-item-title {
  color: white;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-title h2 {
  color: white;
}

.movie-list-item-desc {
  background-color: #333;
  color: white;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc p {
  color: white;
  font-size: 14px;

}

.movie-list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;

  color: black;
}

.sidebar.active {
  background-color: white;
}

.left-menu-icon.active {
  color: black;
}

.toggle.active {
  background-color: black;
}

.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}




.modal {
  display: none;
  /* Ne fillim Modal duhet me ket display none, deri sa ne t'ia nderrojme */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #151515;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-title {
  color: white;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#loginForm {
  margin: 20px auto;
  max-width: 300px;
  padding: 20px;
  background-color: #151515;
  color: white;
  border-radius: 10px;
}

#loginForm label {
  display: block;
  margin-bottom: 10px;
  color: lightgray;
}

#loginForm input[type="email"],
#loginForm input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #4dbf00;
  background-color: #151515;
  color: white;
}

#loginForm button[type="submit"] {
  padding: 10px 20px;
  background-color: #4dbf00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#signupForm input[type="email"],
#signupForm input[type="password"],
#signupForm input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #4dbf00;
  border-radius: 5px;
  background-color: #151515;
  color: white;
}

#signupForm input[type="submit"] {
  background-color: #4dbf00;
  cursor: pointer;
}

#signupForm input[type="submit"]:hover {
  background-color: #3a9c00;
}

#signupForm button[type="submit"] {
  padding: 10px 20px;
  background-color: #4dbf00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* .wip-content {
  display: flex;
  background: #151515;
  height: 95vh;
  justify-content: center;
}

.wip-content h2,
p {
  margin-top: 20px;
  color: white;
}

.wip-text {
  display: flex;
  flex-direction: column;
} */

.white-header-2 {
  color: white;
}

.signup-labels {
  color: white;
}

.admin-dashboard-container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-dashboard-content {
  margin: 100px 0 0 0;
  width: 80%;

}

.admin-dashboard-header {
  display: flex;
  justify-content: space-between;
}

.admin-dashboard-header-title h2 {
  color: white;
}

.admin-dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 columns with equal width */
  gap: 10px;
  /* 10px gap between items */
}

.admin-dashboard-grid-item {
  width: 100%;
  margin: 60px;

}


.admin-dashboard-grid-item-desc {
  background-color: #333;
  color: white;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.admin-dashboard-grid-item:hover .admin-dashboard-grid-item-img,
.admin-dashboard-grid-item:hover .admin-dashboard-grid-item-imdb {
  opacity: 1;
}

.admin-dashboard-grid-item-img {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.admin-dashboard-grid-item-img img {
  width: 300px;
  height: 300px;
}

.admin-dashboard-grid-item-categories {
  margin-top: 120px;
  text-align: center;
}

.admin-dashboard-grid-item-info {
  width: 100%;
  align-items: center;
}

.admin-dashboard-grid-item-imdb {
  bottom: 0;
}

.admin-dashboard-grid-item-categories p {
  color: white;
}

.admin-dashboard-grid-item-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.admin-dashboard-grid-item-buttons-left {
  margin-left: 80px;
}

.admin-dashboard-grid-item-buttons-right {
  margin-right: 80px;
}

@media only screen and (max-width: 1040px) {
  .navbar-container {
    padding: 0 30px;
    /* Reduce padding */
  }

  .menu-list-item {
    margin-right: 20px;
    /* Reduce margin */
  }
}

/* For screens up to 960px */
@media only screen and (max-width: 960px) {
  .menu-list-item {
    margin-right: 15px;
    /* Further reduce margin */
  }

  .profile-container {
    flex: 3;
    /* Adjust profile container width */
  }
}

@media only screen and (max-width: 920px) {
  .navbar-container {
    padding: 0 20px;
    /* Further reduce padding */
  }

  .menu-list-item {
    margin-right: 15px;
    /* Further reduce margin */
  }
}

@media only screen and (max-width: 550px) {
  .navbar-container {
    padding: 0 10px;
    /* Minimal padding */
  }

  .menu-list-item {
    margin-right: 10px;
    /* Minimal margin */
  }

  .btn {
    padding: 8px;
    /* Adjust button padding */
    width: auto;
    /* Allow button width to adjust */
  }

  /* Further reduce font size for links, headings, and spans */
  a,
  h1,
  span {
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px) {
  .featured-desc {
    width: 320px;
    font-size: 11px;
  }

  .featured-title {
    width: 140px;
    height: 65px;
  }

  .featured-button {
    font-size: 8px;
    padding: 9px;
    width: 60px;
  }

  img.featured-title {
    display: flex;
    justify-content: center;


  }

  .movie-list-title {
    font-size: 18px;
  }

  .movie-list-item-img {
    width: 200px;
  }
}



.admin-panel {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #3498db, #8e44ad);

}

.admin-panel h2 {
  margin-bottom: 20px;
  color: rgb(222, 213, 213);
  display: flex;
  justify-content: center;
}

.attributes {
  margin-bottom: 20px;
}

.profile-text {
  color: white;
}

.attributes input,
.attributes textarea,
.attributes button {
  margin-bottom: 10px;
  padding: 8px;
  width: 93%;
  margin-left: 15px;

}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 20% auto;
  padding: 20px;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
  float: right;
  cursor: pointer;
}

.close:hover {
  color: #333;
}

















.login-form h2 {
  display: flex;
  justify-content: center;
}


.login-form {
  margin: 20px auto;
  max-width: 320px;
  height: 150px;
  margin-top: 5%;
  padding: 20px;
  background: linear-gradient(135deg, #3498db, #8e44ad);
  border-radius: 10px;
}

.login-form input {
  height: 16px;
  /* margin-top: 5px; */
}

.login-form label {
  font-size: 17px;
  color: white;

}

.register-button {
  display: flex;
  justify-content: center;
}



.register-button a {
  border-radius: 10px;
  text-decoration: none;

}

.register-button a:hover {
  color: rgb(54, 54, 249);
  transition: .2s;
}




/* Sign up */




.signup-form {
  margin: 20px auto;
  max-width: 320px;
  height: 150px;
  margin-top: 5%;
  padding: 20px;
  background: linear-gradient(135deg, #3498db, #8e44ad);
  border-radius: 10px;
}

.signup-form input {
  height: 16px;
  /* color: white; */

  /* margin-top: 5px; */
}

.signup-form label {
  font-size: 17px;
  color: white;

}

.login-button {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.login-button p {
  color: black;

}


.login-button button a {
  /* color: white; */
  color: black;
  border-radius: 10px;
  text-decoration: none;
  /* font-size: 16px; */


}

.login-button a:hover {
  color: rgb(54, 54, 249);
  transition: .1s;
}